/* reset spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* full screen background */
body {
  height: 100vh;
  background: White;


}

/* creates full screen area that holds that map */
.map-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* The map inside the container */
.map {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transform-origin: center;
}
/* popup menu for Points of Interest */
.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 85%;
  max-width: 320px;

  background: white;
  color: #333;

  padding: 20px;
  border-radius: 16px;

  display: none;

  z-index: 2000;

  box-shadow: 0 10px 25px rgba(0,0,0,0.25);

  font-family: Arial, sans-serif;
}

.menu h2 {
  margin-bottom: 10px;
}

.ui {
  position: fixed;
  z-index: 1000;
}

/* search bar at top */
.search-bar {
  position: fixed;
  top: 10px;
  left: 5%;

  width: 90%;
  padding: 10px;

  background: #f0f0f0;
  border-radius: 20px;

  z-index: 1000;
}

button {
  padding: 10px 14px;

  border: none;
  border-radius: 20px;

  background: #333;
  color: white;

  font-size: 14px;

  cursor: pointer;
}

/* bottom nav bar */
footer {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;

  background: #f0f0f0;
  border-top: 1px solid #ccc;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
